.button {
    width: 380px;
    max-width: 100%;
    height: 55px;
    line-height: 55px;
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    
    &--light {
        background-color: #fff;
        color: #212121;
    }

    &--dark {
        background-color: #212121;
        color: #fff;
    }

    &--white {
        background-color: #fff;
        color: $text;
    }


    @media (max-width: 1500px) {
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        width: 340px;
    }
    @media (max-width: 1300px) {
        height: 44px;
        line-height: 44px;
        font-size: 16px;
        width: 260px;
    }
    &:hover {
        -webkit-animation-name: hvr-wobble-vertical;
      animation-name: hvr-wobble-vertical;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }
}


/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


/* ------------------------------------ */
/*  SLICK ARROWS  */
.slick-arrow,
.slick-arrow:focus,
.slick-arrow:active,
.slick-arrow:hover {
    width: 30px;
    height: 90px;
    z-index: 10;
    @include transition(all, .2s);
    background-color: transparent;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: 60px auto;
         -o-background-size: 60px auto;
            background-size: 60px auto;
    @media (max-width: 800px) {
        width: 50px;
        height: 70px;
    }
    @media (max-width: 600px) {
        width: 30px;
        height: 50px;
        -webkit-background-size: 16px 16px;
         -o-background-size: 16px 16px;
            background-size: 16px 16px;
    }
    &:before {
        display: none;
    }
}
.slick-arrow:hover {
    opacity: .8;
}
.slick-next,
.slick-next:hover,
.slick-next:focus {
    right: 0;
    background-image: url("../images/right-arrow.svg");
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
    left: 0;
    background-image: url("../images/left-arrow.svg");
}


.slick-dots {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 3px;

        button {
            width: 100%;
            height: 100%;
            padding: 0;
            border-radius: 50%;
            background-color: #fff;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &:before {
                display: none;
            }
        }

        &.slick-active {
            button {
                background-color: #212121;
            }
        }
    }
}