.logo {
    width: 215px;
    display: block;
    img {
        width: 100%;
    }
}

/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            vertical-align: middle;            
            &:after {
                display: inline-block;
                vertical-align: middle;
                content: "";
                height: 25px;
                width: 2px;
                background-color: #FFF;
                margin: -6px 35px 0 37px;
            }
            &:last-of-type {
                &:after {
                    display: none;
                }
            }
            a {
                color: #fff;
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
}

.social {
    display: inline-block;
    vertical-align: middle;
    a {
        display: inline-block;
        vertical-align: middle;
        margin: 0 8px;
        i {
            display: block;
            width: 24px;
            height: 24px;
            -webkit-background-size: 100% 100%;
                 -o-background-size: 100% 100%;
                    background-size: 100% 100%;
        }
        &.fb {
            i {
                background-image: url("../images/fb.svg");
            }
        }
        &.tw {
            i {
                background-image: url("../images/tw.svg");
            }
        }
        &.inst {
            i {
                background-image: url("../images/inst.svg");
            }
        }
    }
}


/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: block;
    width: 24px;
    height: 40px;
    @include position(absolute, 0, auto, auto, 0);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: transparent;
    border: none;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 100%;
        height: 4px;
        background-color: #fff;
        @include transition(all, .4s);
    }

    .top_line              {   top: 8px;  margin: auto;}
    .middle_line           {   top: 18px;  margin: auto;}
    .bottom_line           {   bottom: 8px; margin: auto;}

    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

}
