.offer {
    height: 100%;
    min-height: 600px;
    padding: 70px 0;
    
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    &__header {
        position: relative;
        width: 100%;
        min-height: 30px;
        .logo {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            margin: auto;
        }
    }
    &__footer {
        position: relative;
        width: 100%;
        @include flex();
    }
    &__info {
        color: #FFF;
        padding-top: 100px;
        p {
            font-size: 36px;
            margin-top: 10px;
        }
    }
    .wrapper {
        position: relative;
        height: 100%;
        @include flex($direction: column, $alignI: center);
    }
    .social {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.music-controls {
    color: #FFF;
    cursor: pointer;
    span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        font-size: 18px;
    }
    i {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        background-image: url('../images/headphones.png');
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
    }
}

.scroll-down {
    color: #FFF;
    cursor: pointer;
    span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        font-size: 18px;
    }
    i {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 30px;
        background-image: url('../images/mouse.png');
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
    }
}