.about-block {
    padding: 80px 0;

    &:nth-child(2n) {
        background-color: #F4F4F4;
    }

    .image-column img {
        display: inline-block;
        max-width: 100%;
    }

    .text-column {
        color: #212121;
        font-size: 18px;

        h2 {
            font-size: 48px;
            font-weight: 600;
            letter-spacing: 0.05em;
            margin-bottom: 60px;
        }

        p:not(:last-child) {
            margin-bottom: 22px;
        }
    }

    @media (min-width: 992px) {
        .image-column {
            padding-right: 90px;
            padding-left: 10px;
            text-align: left;
        }

        .text-column {
            padding-left: 90px;
            padding-right: 10px;
        }


        &:nth-child(2n-1) {
            .flex-row {
                -webkit-flex-direction: row-reverse;
                -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
            }

            .image-column {
                padding-right: 10px;
                padding-left: 90px;
                text-align: right;
            }

            .text-column {
                padding-left: 10px;
                padding-right: 91px;
            }
        }
    }

}



.about-slider {
    padding: 0 100px;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 0!important;

    .slide {
        position: relative;

        img {
            display: block;
            width: 100%;
        }

        &__caption {
            height: 95px;
            @extend %vertAlign;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0.025px;

            span {
                display: inline-block;
                vertical-align: middle;
                max-width: 80%;
            }
        }
    }
}