

/*Engage section*/
.engage-block {
    margin: 0;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    .engage-item {
        width: 33.33%;
        padding: 65px 125px 230px 125px;
        position: relative;
        color: #fff;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        text-align: center;

        @media (max-width: 1800px) {
            padding: 50px 50px 155px;
        }

        .button {
            position: absolute;
            bottom: 80px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);

            @media (max-width: 1800px) {
                bottom: 50px;
            }
        }

        &__title {
            font-size: 48px;
            font-weight: 600; 
        }

        &__content {
            padding-top: 85px;

            @media (max-width: 1800px) {
                padding-top: 50px;
            }

            p,
            img {
                &:not(:last-child) {
                    margin-bottom: 22px;
                }
            }

            img {
                margin-top: -40px;
                max-width: 100%;
            }
        }
    }
}


/*About section*/
.about-text {
    color: #fff;
    font-size: 24px;
    letter-spacing: 0.025em;
    font-weight: 500;
    display: block;
    width: 780px;
    margin: 0 auto;
    max-width: 100%;
    margin-top: -10px;
}