

/*Engage section*/
.engage-block {
    margin: 0;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    @media (max-width: 1000px) {
        -webkit-justify-content: center;
                justify-content: center;
    }
    .engage-item {
        width: 33.33%;
        padding: 65px 110px 230px 110px;
        position: relative;
        color: #fff;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        text-align: center;

        @media (max-width: 1800px) {
            padding: 50px 50px 155px;
        }
        @media (max-width: 1300px) {
            padding: 30px 30px 145px;
        }
        @media (max-width: 1000px) {
            width: 50%;
        }
        @media (max-width: 760px) {
            width: 100%;
        }

        .button {
            position: absolute;
            bottom: 80px;
            left: 0%;
            right: 0;
            margin: auto;
            

            @media (max-width: 1800px) {
                bottom: 50px;
            }
            @media (max-width: 1300px) {
                bottom: 40px;
            }
        }

        &__title {
            font-size: 48px;
            font-weight: 600; 
            @media (max-width: 1500px) {
                font-size: 42px;
            }
            @media (max-width: 1300px) {
                font-size: 36px;
            }
        }

        &__content {
            padding-top: 85px;

            @media (max-width: 1800px) {
                padding-top: 50px;
            }
            @media (max-width: 1300px) {
                padding-top: 30px;
                font-size: 16px;
            }
            @media (max-width: 400px) {
                font-size: 14px;
            }

            p,
            img {
                &:not(:last-child) {
                    margin-bottom: 22px;
                }
            }

            img {
                margin-top: -40px;
                max-width: 100%;
            }
        }
    }
    .button {
        max-width: 90%;
    }
}


/*About section*/
.about-text {
    color: #fff;
    font-size: 24px;
    letter-spacing: 0.025em;
    font-weight: 500;
    display: block;
    width: 780px;
    margin: 0 auto;
    max-width: 100%;
    margin-top: -10px;
    @media(max-width: 1700px) {
          font-size: 22px;
      }
      @media(max-width: 1500px) {
          font-size: 20px;
      }
      @media(max-width: 1100px) {
          font-size: 18px;
      }
      @media(max-width: 760px) {
        font-size: 16px;
      }
      @media(max-width: 500px) {
        font-size: 14px;
      }
}